

.home-container {
    position: relative;
  }
  
  .home-container::after {
    content: "";
    background: url(../../images/banner.png);
    background-repeat: no-repeat;
    opacity: 0.15;
    top: -35px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }